#service-groups-table
  %table.table.table-hover.no-margin
    %thead
      %tr
        %th
          ID
        %th
          Name
        %th
          Description
      %tbody

        = render @service_groups
