#service-groups-table
  %table.table.table-hover.no-margin
    %thead
      %tr
        %th
          ID
        %th
          Nombre
        %th
          Descripción
      %tbody

        = render @service_groups
