#services-table
  %table.table.table-hover.no-margin
    %thead
      %tr
        %th
          ID
        %th
          Title
        %th
          Concept
        %th
          Service Classification

      %tbody
        = render @services