#services-table
  %table.table.table-hover.no-margin
    %thead
      %tr
        %th
          ID
        %th
          Título
        %th
          Concepto
        %th
          Clasificación del servicio

      %tbody
        = render @services