#services-table
  %table.table.table-hover.no-margin
    %thead
      %tr
        %th
          ID
        %th
          Nombre del Servicio
        %th
          Concepto
        %th
          Clasificacion del servicio
      %tbody
        = render @services