- content_for :admins_menu do
  .menu-link
    %span= link_to "Usuarios", users_path, class: "user-select"
  .menu-link
    %span= link_to "Clientes", clients_path, class: "user-select"
  .menu-link
    %span= link_to "Servicios", services_path, class: "user-select"
  .menu-link
    %span Grupos de Servicios
  .menu-link
    %span Reportes
  .menu-link
    %span Inventarios

- content_for :users_menu do
  .menu-link
    %span= link_to "Usuarios", users_path
  .menu-link
    %span Clientes
  .menu-link
    %span Servicios
  .menu-link
    %span Reportes
  .menu-link
    %span Inventarios
