#companies-table
  %table.table.table-hover.no-margin
    %thead
      %tr
        %th
          Name
        %th
          Rfc
        %th
          Description
      %tbody
        = render @companies