default: &default 
  adapter: postgresql 
  username: amed
  password: amed 
  host: localhost 

development: 
  <<: *default 
  database: services_development 

test:
  <<: *default 
  database: services_test 

production: 
  <<: *default 
  database: services_production
