#users-table
  %table.table.table-hover
    %thead
      %tr
        %th
          ID
        %th
          Nombre
        %th
          Admin
        %th
          Email
      %tbody
        = render @users
