#users-table
  %table.table.table-hover.no-margin
    %thead
      %tr
        %th
          ID
        %th
          Name
        %th
          Admin
        %th
          Email
      %tbody
        = render @users
